<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
  <div class="w-25">
    <%= link_to 'People\'s Style', root_path, class: 'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  
  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
    <div class="align-self-center">
      <ul class="navbar-nav text-uppercase">
        <% Category.all.each do |category| %>
          <li class="nav-item">
            <%= link_to category.name, category_show_path('id' => category.id), class: 'nav-link text-orange-hover' %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to 'Write Article', new_article_path, class: 'nav-link text-orange-hover' %>
        </li>
      </ul>
    </div>
    <div class="">
      <ul class="navbar-nav">
        <% if current_user %>
          <li class="nav-item ">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item ">
            <%= link_to 'Sign in', user_session_path, class: 'nav-link border-right' %>
          </li>
           <li class="nav-item ">
            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
