<section class="feature-article" id="feature-article" style="background: url(<%= url_for(@feature_article.article_image)%>); background-repeat: no-repeat; background-size:cover;">
  <%= link_to article_path(@feature_article.id) do %>
    <div class="overlay"></div>
    <div class = "lower-text">
      <span class="title">
        <%=@feature_article.title %>
      </span>
      <br/>
      <span class="text-white">
        <%= short_text(@feature_article.text)  %>
      </span>
      <br/>
      <span class="text-white">
        <%= @feature_article.created_at %>
      </span>
    </div>
  <% end %>
</section>
<section id="categories">
  <div class="row no-gutters">
    <% @categories.each  do |category| %>
      <div class="col-12 col-md-3">

        <%= link_to category_show_path('id' => category.id), :class => 'button white' do %>
          <div class="category" style="background: url(<%= url_for(category_image(category))%>">
            <span class="category-title"><%= category.name %></span>
            <span class="category-text"><%= category.articles.last.title %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
